<script>
  document.domain = window.location.hostname.replace('www.', '');
  var JWT, apiURL, appURL;

  if (document.domain === 'localhost') {
    appURL = 'http://localhost:8100/#';
    apiURL = 'http://localhost:3000';
  } else {
    appURL = 'https://devapp.plynty.com/#';
    apiURL = 'https://dev.plynty.com';
  }

  JWT = getDiscountId();
  getSubscriptionPrice(JWT);

  function getDiscountId() {
    var params = window.location.search;
    params = params.substr(1).split('=');
    return params[1];
  }

  function setValues(text, priceObj) {
    if (text) {
      var replaceString = ['{discountAmount}', '{issuer}', '{priceContent}', '{savingsApplied}'];
      replaceString.forEach(function(string) {
        switch (string) {

          case '{discountAmount}':
            if (priceObj.discountAmount) {
              if (priceObj.isComplimentary) {
                text = text.replace(string, 'complimentary');
              } else {
                text = text.replace(string, '$' + priceObj.discountAmount);
              }
            }
            break;

          case '{issuer}':
            if (priceObj.issuer) {
              text = text.replace(string, priceObj.issuer);
            }
            break;

          case '{priceContent}':
            var totalAmount = priceObj.discountAmount ? priceObj.basePrice - priceObj.discountAmount : priceObj.basePrice;
            if (totalAmount > 0) {
              text = text.replace(string, 'for <b>only $' + totalAmount + '</b> per year');
            } else {
              text = text.replace(string, 'with your <b>complimentary account</b>');
            }
            break;

          case '{savingsApplied}':
            if (priceObj.discountAmount && !priceObj.isComplimentary) {
              text = text.replace(string, '($' + priceObj.discountAmount + ' discount applied!)');
            } else {
              text = text.replace(string, '');
            }
            break;

          default:
            break;
        }
      })
      return text;
    }
  }

  function showElement(id) {
    $(id).css("visibility", "visible");
    $(id).css("display", "block");
    $(id).css("opacity", "1");
  }

  function updateLinks(priceObj) {
    $("a[href='{registerLink}']").attr('href', priceObj.issuer && JWT ? appURL + '/register/' + JWT : appURL +
      '/register');
    $("a[href='{loginLink}']").attr('href', appURL + '/login');
  }

  function updateContent(priceObj) {
    if (priceObj) {
      var discountHeaderText = $('#discountHeader').html();
      var discountContentText = $('#discountContent').html();
      var discountContentAmountText = $('#discountContentAmount').html();
      var updatedHeaderText =  setValues(discountHeaderText, priceObj);
      var updatedDiscountContent =  setValues(discountContentText, priceObj);
      var updatedDiscountAmountText =  setValues(discountContentAmountText, priceObj);
      $('#discountHeader').html(updatedHeaderText);
      $('#discountContent').html(updatedDiscountContent);
      $('#discountContentAmount').html(updatedDiscountAmountText);
      updateLinks(priceObj);
      if (priceObj.issuer) {
        showElement('#discountHeader');
      }
      showElement('#discountContent');
    }
  }

  function getSubscriptionPrice(JWT) {
    var data = {
      email: undefined,
      jwt: JWT
    }
    var request = $.ajax({
      type: "POST",
      url: apiURL + '/api/subscription/getPrice',
      data: data,
      contentType: "application/x-www-form-urlencoded"
    });

    request.done(function (data) {
      var priceObj = data;
      if (priceObj) {
        updateContent(priceObj);
      }
    });
  }
</script>