/* home page styles */
.enterprise {
	
    background-color: $plynty-white;
    section:first-child img {
        display: block;
    }
    #hey-you-can-do-this {
        padding-top: 2.3rem;
    }
    svg{
        width: 50%;
        margin-top: -70px;
    }
    .carousel{
        padding-top: 53px;
        margin-bottom: -81px;
    }
    .donut-bullet h1 {
        font-size: 1.8rem;
        text-align: left;
        color: rgba(0,0,0,.87);
        line-height: 4rem;
        padding-left: 15px;
    }
    .donut-explanation {
        margin-top: -6rem;
    }
    .donut-explanation p {
        line-height: 0.5rem;
        text-align: center;
    }
    p i {
        color: $plynty-green;
    }
    .donut-bullet i {
        color: $plynty-gray;
    }
    .discount-amount{
        font-size: 1.4rem;
        color: $plynty-pink;
    }
    .enterprise-card-header {
        padding:30px;
        border-radius:50%;
        background-color:white;
        height:90px;
        width:90px;
        margin:auto;
        box-shadow:8px 5px 5px #e2e2e2;
    }
    /* Header Image CSS Section */
    
	
	.headerImage{
        position: relative;
        width: 100%;
        height: 0px; 
        background: #F8F8F6;
        background: url('/uploads/B2B-hero-header.jpg')no-repeat center center;
        background-size: cover;
    }
    .headerImageContent {
        position: absolute;
        -webkit-transform: translate(-40%, -50%);
                transform: translate(-40%, -50%);
    }
    .headerImageContent h1{
        color: #fff;
        font-size: 5rem;
        letter-spacing: 3px;
        font-weight: 600;
        line-height: 7rem;
    }
    .headerImageContent p {
        color: #474747;
        font-size: 3rem;
        letter-spacing: 2px;
        line-height: 0.5rem;
    }
	
    
    @media only screen and (min-width: 1000px){
      .headerImageContent{
          left: 30%;
          top: 45%;
      }
    }
    @media only screen and (max-width: 600px) {
        svg{
            width: 90%;
            margin-top: -70px;
         }   
        .enterprise-headerImageContent {
            left: 50%;
            top: 50%;
        }
        .enterprise-headerImageContent h1 {
            font-size: 4rem;
            text-align: left;
            margin-bottom:-10px;
            margin-top: 5px;
            line-height: 6rem;
        }
        .enterprise-headerImageContent p {
            font-size: 1.5rem;
            text-align: left;
            margin-bottom:-10px;
            line-height: 2rem;
			
        }
    }
}
